*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Sansita Swashed', cursive;
}
.top-head{
width: 100%;
height:100vh;
background-image:url('durga.jpg'); 
background-repeat: no-repeat;
clip-path: polygon(100% 0%,100% 77%,50% 100%,0% 75%,0 0);
background-size: 100% 100%;
}
.top-head:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.navbar:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .5;
	z-index: -1;
	background: linear-gradient(to bottom right, #66ff66 0%, #6600ff 110%);
}

.nav-item a{
color: #fff!important;
}
.about{
	justify-content: text center;
}